/**** GENERAL STYLING ****/

/* Affects entire document */
html, body {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    scroll-behavior: smooth;
}

/* Body */
body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: Avant Garde, Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    overflow-x: hidden;
    user-select: none;
}

body.fade-out {
    opacity: .1;
}

h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

.white-text {
    color: #fff;
}

p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 2.0vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

.center {
    text-align: center;
}

.center:hover {
    transition: transform 2s;
    transform:  scale(1.1);
}

a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

q {
    font-style: italic;
}

img {
    filter: grayscale();
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto auto auto;
}

img:hover {
    filter: grayscale(5%);
}

footer {
    padding: 2%;
    background-color: white;
}

/**** END OF GENERAL STYLING ****/

/* Navbar Styling */
.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter:blur(8px);

    z-index: 2;
}

@keyframes moveNav {
    from{left:-100vw;}
    to{left: 0vw;}
}

/*Navbar Links */
.Navbar a {
   
    color:white;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: Avant Garde, Helvetice;
    font-size: 1.5vw;
    text-align: center;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75ms;
}

@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/*Navbar hover effects */
.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in;
}

/* Navbar home button */
.Navbar a.active {
    background: rgba(223, 215, 215, 0.35)
}

/***** End of Navbar Styling *****/

#Home {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 160vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/***** Video Styling *****/
#background-video {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 25%;
    margin-top: -160px;
    transform: translateY(5%);    
    z-index: -1;
    background-color: black;
}


@media screen and (max-width: 576px) {
    #background-video {
        display: none;
    }
}

/* Texts over the video */
.Video_Text_Wrapper {
    position: relative;
    z-index: 10;
    margin-top: 50vh;
    text-align: center;
    animation: moveVideoText 5.75s; ease-out forwards;
}

.Video_Text {
    position: relative;
    z-index: 1;
    color: white;
    display: inline-block;
    max-width: 100%;
    width: auto;
    padding: 1.5vw 3vw;
    padding-top: 1.2vw;
    line-height: 1.4;
    margin-top: 90vh;
    line-height: 1.2;
    text-shadow: 2px 2px 8px rgb(177, 5, 5);
    text-align: center;
    font-size: clamp(1rem, 1.2rem, 2rem);
    transform: translateY(0);
    will-change: transform;

    border-top: 1px solid rgba(0,0,0,0);
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter:blur(8px);
    overflow: hidden;
}

@keyframes moveVideoText {
    from {
        transform: translateY(-100vh); /* move from off-screen top */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* final position */
        opacity: 1;
    }
}
/***** End of Video Styling *****/

/***** Slideshow Styling *****/
#Slideshow_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, 0.75);
    width: 100%;
}

/* Next and previous buttons */
.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6 ease;
}

.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
/***** End Slideshow Styling *****/

/***** About Styling *****/
.About_Image {
    position: relative;
    margin-top: -30vh;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.About_Image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Media/Images/Main_1.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 30% top;
    filter: grayscale(60%);
    z-index: 0;
}

.About_Text {
    position: absolute;
    top: 18%;
    left: 50%;
    max-width: 40%;
    transform: translate(20%);
    color: white;
    text-align: right;
    z-index: 1; /* above pseudo-element */
}

.About_Text p {
    font-size: 1.2rem;
}

.About_Text h1 {
    color: red;
}

.About_Text a {
    color: red ; /* gold color or any visible color */
    text-decoration: underline;
}



/***** Table Styling *****/
.Row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    
}

.Column_1, .Column_2 {
    flex: 0 0 50%;
    padding: 1.6%;
    box-sizing: border-box;
    max-width: 100%;
}

#GitHub .Column_1 {
    background-color: rgba(101, 114, 126, 0.8); /* text column */
    color: white;
}
#GitHub .Column_2 {
    background-color: rgb(99, 4, 4);  /* image column */
}

/* Contact Section */
#Contact .Column_1 {
    background-color: rgb(99, 4, 4);  /* image column */
}
#Contact .Column_2 {
    background-color: rgba(101, 114, 126, 0.8); /* button/form column */
}

.Column_2 img,
#Contact .Column_1 img {
    display: block;
    max-width: 100%;
    height: 450px;
    object-fit: cover;
    background-color: rgb(50, 50, 50)
}

#Contact .Column_1 img {
    object-fit: cover;
    object-position: center;
}

.Column_1 p {
    color: white;
    align-items: center;
}

.Column_1 a, h1 {
    color: rgb(99, 4, 4);
}

@media screen and (max-width: 768px) {
    .Column_1, .Column_2 {
        flex: 0 0 100%; /* full width on small screens */
    }
}
/***** End of Table Styling *****/

/***** Contact Form Styling *****/
.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: 5vw;
}

.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}

button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}

.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

.form-container .cancel {
    background-color:black;
    color: white;
    border-color: gray;
}

.form-container .cancel:hover {
    color:white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
/***** End of Contact Form Styling *****/

/***** Media Query Section *****/
@media screen and (max-width: 527px) {
p {
    font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
p {
    font-size: 3.5vw;
    }
}


@media screen and (min-width: 661px) and (max-width: 799px) {
p {
    font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
p {
    font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
p {
    font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
p {
    font-size: 2vw;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
p {
    font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
p {
    font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
p {
    font-size: 1.35vw;
    }
}

@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 1080px) {
    .quote{
        font-size: 3.5vw;
    }

    .white-text {
        font-size: 4.5vw;
    }
}

@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }
    .Column_2 {
        height: 550px;
    }
}

@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}
/***** End of Media Query Section *****/